@model CarListModel
@using Microsoft.AspNetCore.Http;

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<html>

<head>
    <title>ARAÇ LİSTESİ</title>
</head>

<body>

    <div class="loader-container">
        <div class="loader"></div>
    </div>
    <div class="container border-dark border-info BodyContainer">

        <div class="row">

            <div class="col-md-3 border border-dark AracFiltrele">

                <div class="border border-dark">
                    <div class="border border-dark filtreleBaslik"><h3><b>FİLTRELE</b></h3></div>
                    <div class="border border-dark FiltreleKutu">

                        <form method="post" asp-controller="Customer" asp-action="CarListWF">

                            <div class="form-group">
                                <label for="marka"><b>Marka/Model</b></label>
                                <input id="marka" class="form-control" placeholder="Marka/Model Giriniz" name="brand">
                            </div>

                            <label for="yakitL"><b>Yakıt</b></label>
                            <select class="form-select" id="yakitL" name="fuelType">
                                <option selected disabled>Yakıt Seçiniz</option>
                                <option value="Benzin">Benzin</option>
                                <option value="LPG">Lpg</option>
                                <option value="Dizel">Dizel</option>
                                <option value="Elektrik">Elektrik</option>
                                <option value="Hybrid">Hybrid</option>
                            </select>


                            <label for="vitesL"><b>Vites</b></label>
                            <select class="form-select" id="vitesL" name="typeOfGear">
                                <option selected disabled>Vites Tipi Seçiniz</option>
                                <option value="Manuel">Manuel</option>
                                <option value="Otomatik">Otomatik</option>
                                <option value="YarıOtomatik">Yarı Otomatik</option>
                                <option value="Triptonik">Triptonik</option>
                            </select>

                            <div class="form-group">
                                <label for="ucretL"><b>Günlük Ücret</b></label>
                                <input id="ucret" class="form-control" placeholder="Günlük Ücret Giriniz" name="dailyPrice">
                            </div>

                            <label for="yerL"><b>Alınacak yer</b></label>
                            <select class="form-select" id="yerL" name="branchId">
                                <option selected disabled>Alınacak Yer Seçiniz</option>
                                @foreach (var item in Model.Branches)
                                {
                                    <option value="@item.Id">@item.Adress</option>
                                }
                            </select>

                            <div class="form-group">
                                <label for="date"><b>Alış Tarihi</b></label>
                                <input type="date" id="alis" class="form-control" name="rentDate">
                                <script>
                                    document.getElementById('alis').valueAsDate = new Date();
                                </script>
                            </div>

                            <div class="form-group">
                                <label for="date"><b>Teslim Tarihi</b></label>
                                <input type="date" id="teslim" class="form-control" name="deliverDate">
                                <script>
                                    document.getElementById('teslim').valueAsDate = new Date();
                                </script>
                            </div>

                            <button type="submit" class="btn w-100">Filtrele</button>
                        </form>

                    </div>

                </div>


            </div>
            <div class="col-md-9 border border-dark AracListele">
                <div class="border border-dark araclarBaslik"><h3><b>ARAÇ FİLOSU</b></h3></div>

                <br><br>
                @foreach (var item in Model.Cars)
                {
                    <div class="row">

                        <div class="col-md-3 border">
                            <div class="border border-dark w-100 h-100"><img src="/img/@item.PhotoName" class="w-100 h-100" /></div>
                        </div>
                        <div class="col-md-6 border aracBilgi">
                            <div class="border border-dark"><h4><b>@item.Brand</b></h4></div>

                            <div class="border border-dark">
                                <div class="border border-dark float-start w-25"><b>Yakıt :</b></div>
                                <div class="border border-dark float-start w-75">@item.FuelType<i class="fas fa-gas-pump"></i></div>
                            </div>

                            <div class="border border-dark">
                                <div class="border border-dark float-start w-25"><b>Vites :</b></div>
                                <div class="border border-dark float-start w-75">@item.TypeOfGear<i class="fas fa-arrows-alt"></i></div>
                            </div>

                            <div class="border border-dark">
                                <div class="border border-dark float-start w-25"><b>G.Ücret :</b></div>
                                <div class="border border-dark float-start w-75">@item.DailyPrice<i class="fas fa-money-check-alt"></i></div>
                            </div>

                        </div>
                        <div class="col-md-3 border kirala">

                            <a asp-controller="Customer" asp-action="RentCar" asp-route-id="@item.Id" class="btn btn-warning w-100 h-100">
                                Hemen Kiralayın
                            </a>

                        </div>

                    </div>
                }



            </div>

        </div>

        <div class="popup">
            <div class="popup-content">

                <div class="loginBaslik">GİRİŞ YAPIN	<i id="close" class="far fa-times-circle"></i></div>

                <div class="loginIcerik">
                    <form method="post" action="" class="was-validated">

                        <input type="email" class="form-control" placeholder="E-POSTA GİRİNİZ" required="" />

                        <input type="password" class="form-control" placeholder="ŞİFRE GİRİNİZ" required="" />

                        <button type="submit" class="btn btn-success float-start w-100 mt-3">Giriş Yap <i class="fas fa-sign-in-alt"></i></button>

                    </form>


                </div>
            </div>
        </div>

    </div>

    <script>
        document.getElementById("LoginPencere").addEventListener("click", function () {
            document.querySelector(".popup").style.display = "flex";
        });

        document.getElementById("close").addEventListener("click", function () {
            document.querySelector(".popup").style.display = "none";
        });

    </script>

    <script>
        $(window).on("load", function () {
            $(".loader-container").fadeOut(900);
        });
    </script>

</body>
</html>