@model RentCarModel
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<html>

<head>
    <title>ARAÇ KİRALA</title>
</head>

<body>
    <div class="container border-dark border-info BodyContainer">

        <div class="row">
            <div class="col-md-6 border border-dark aracKiralaMarka">@Model.Car.Brand</div>
            <div class="col-md-6 border border-dark aracKiralaUst">
                <div class="border border-dark h-100 w-50 float-start">
                    <i class="fas fa-gas-pump"></i> @Model.Car.FuelType
                </div>
                <div class="border border-dark h-100 w-50 float-end">
                    <i class="fas fa-arrows-alt"></i> @Model.Car.TypeOfGear
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-md-4 border border-dark">
                <img src="/img/@Model.Car.PhotoName" class="w-100 h-100" />
            </div>
            <div class="col-md-4 border border-dark aracBilgiler">
                <div class="border border-dark aracBaslik">Alış Yeri</div>
                <div class="border border-dark">@Model.Branch.Adress</div>

            </div>
            <div class="col-md-4 border border-dark aracBilgiler">
                <div class="border border-dark aracBaslik">Günlük Ücret</div>
                <div class="border border-dark">@Model.Car.DailyPrice</div>
            </div>

        </div>

        <br><br><br><br>

        <div class="row">
            <div class="col-md-12 border border-dark formBilgiler">

                <form method="post" asp-controller="Customer" asp-action="RentIt" class="was-validated">

                    <div class="col-md-12 border border-dark surucuBilgi">
                        <h2><b>TARİH BİLGİLERİ</b></h2>
                    </div>

                    <div class="border border-dark aracBaslik">Alış Tarihi</div>
                    <div class="border border-dark">
                        <input id="alisTH" type="date" />
                        <script>
                            document.getElementById('alisTH').valueAsDate = new Date();
                        </script>
                    </div>

                    <div class="border border-dark aracBaslik">Dönüş Tarihi</div>
                    <div class="border border-dark">
                        <input id="donusTH" type="date" />
                        <script>
                            document.getElementById('donusTH').valueAsDate = new Date();
                        </script>
                    </div>

                    
                    <br>

                    <button type="submit" class="btn btn-warning w-100">Rezervasyonu Tamamla</button>



                </form>

            </div>

        </div>

    </div>
</body>
</html>